%formatoBody
    font-family: $fuenteBody
    margin: 0
    padding: 0
    background-color: $colorFondoBody
    color: $colorLetraBody

%formatoEtiquetaA
    text-decoration: none
    color: $colorLetraBody

%formatoDegradadoHome
    background-color: $colorDegradoHome
    border-radius: 20px

%formatoBotones
    background-color: $colorFondoBotones
    color: $colorLetraBody
