body {
  font-family: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(5, 5, 5);
  color: rgb(250, 250, 250);
}

a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.divDegradado2, .divDegradado1 {
  background-color: linear-gradient(to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60);
  border-radius: 20px;
  transform-origin: center center;
  background-image: linear-gradient(to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60);
  position: absolute;
  left: 50%;
  border-radius: 20px;
  pointer-events: none;
  width: 900px;
  height: 500px;
  filter: blur(100px);
  opacity: 0.4;
  top: 0;
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.btnSignUp {
  background-color: #ff2d60;
  color: rgb(250, 250, 250);
}

.pSegundoTitulo {
  font-size: 6.5rem;
  line-height: 6rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  font-family: "Work Sans", sans-serif;
}

.divPrimeraLinea {
  background: rgba(93, 39, 67, 0.3);
}

.aPrimeraLinea:hover {
  color: #ff2d60;
}

.spanNegrita {
  font-weight: bolder;
}

.navHeader {
  background-color: rgb(0, 0, 0);
}

.dropPersonalizado {
  background: rgb(0, 0, 0);
  padding: 24px 24px 10px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: rgb(250, 250, 250);
}

.mainPantallaPrincipal {
  margin: 80px auto 0;
}

.divPrimerTitulo {
  font-family: "Work Sans", sans-serif;
  max-width: 1100px;
  margin-bottom: 40px;
}

.spanEscritorio {
  font-size: 6.5rem;
  line-height: 6rem;
}
@media screen and (max-width: 992px) {
  .spanEscritorio {
    display: none;
  }
}

.spanMovil {
  font-size: 2.8rem;
  line-height: 3rem;
}
@media screen and (min-width: 993px) {
  .spanMovil {
    display: none;
  }
}

.divDegradado1 {
  transform: skewY(-15deg) translate(-50%, -30%) scale(0.7) translateZ(0);
}

.divPrimerBanner {
  margin-bottom: 240px;
}

.divRowPrimerFilaBotones button {
  border: 0px none;
  outline: 0px;
  margin: 0px;
  max-width: 180px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px inset;
  transition: background-color 250ms ease-in-out 0s;
  margin: 0 5px;
}
.divRowPrimerFilaBotones img {
  display: flex;
  margin: 0 auto 20px auto;
  width: 30px;
  height: 30px;
}
.divRowPrimerFilaBotones span {
  color: rgb(250, 250, 250);
}

.imgPrimerBanner {
  max-width: 1200px;
  border-radius: 20px;
}

.divSeccionDescargas {
  background-color: rgba(23, 25, 28, 0.6);
  border-radius: 24px;
  max-width: 1200px;
  margin-bottom: 160px;
}

.divOpcionesDescargas {
  margin: 0 125px;
  padding-bottom: 100px;
}

.divImagenOpcionDescarga {
  box-shadow: inset 0 0 2px hsla(0, 0%, 100%, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.8);
  width: 64px;
  height: 64px;
  background-image: radial-gradient(circle at bottom, rgba(91, 149, 191, 0.4) 0, hsla(0, 0%, 9%, 0.8) 30%, rgba(30, 30, 30, 0.8) 100%);
  border-radius: 20px;
}

.spanOpcionDescarga {
  font-size: 14px;
  line-height: 16px;
  color: #9098a2;
}

.divSegundoTitulo {
  margin-bottom: 90px;
}

.pSegundoTitulo {
  max-width: 1200px;
}

.pParrafoSegundoTitulo {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  color: #9098a2;
  max-width: 800px;
}

.divDegradado2 {
  transform: skewY(-15deg) translate(-50%, 338%) scale(0.7) translateZ(0);
}

.pDetalleAlContentWriter {
  font-size: 1.1rem;
  line-height: 1.42;
  font-weight: 400;
  letter-spacing: -0.008rem;
  color: #9098a2;
}

.pAlContentWriter {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
  color: rgb(250, 250, 250);
}

.divTextoAlContentWriter {
  width: 30%;
  max-width: 500px;
  padding-left: 80px;
}/*# sourceMappingURL=base.css.map */